html,
body {
  background-color: #f5f5f5;
}

.clear {
  &:after {
    display: block;
    clear: both;
    content: " ";
  }
}
.title {
  font-size: 90px;
  margin: 30px 0 40px 0;
  text-align: center;
  color: #b2b2b2;
}

.todo {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-radius: 3%;
  box-shadow: 2px 4px 11px #b2b2b2;
}

.todo__input {
  margin: 20px auto;
  border: none;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  outline: none;
  background: none;
}
input::placeholder {
  color: #ddd;
}
.add {
  border: 1px solid #ddd;
  background-color: black;
  color: white;
  padding: 4px 10px 4px 10px;
  position: relative;
  top: -2px;
}
.todo__item {
  border-top: 1px solid #ddd;
  list-style: none;
  @extend .clear;
}
.todo__list {
  margin: 0 auto;
  text-align: center;
  padding: 0 0;
  overflow-y: auto;
  max-height: 300px;
}
.todo__item-title {
  float: left;
  margin-left: 10%;
  line-height: 50px;
  font-size: 28px;
  font-weight: 500;
}

.todo__item-remove {
  float: right;
  border: none;
  background-color: white;
  padding: 20px;
  margin-right: 10%;
}
