<% include ./inc/header.ejs %>
<h1 class="title">todos</h1>
<div class="todo">
  <div class="todo__add-wrap">
    <input
      type="text"
      id="todoInput"
      class="todo__input"
      placeholder="What needs to be done?"
    />
    <button class="add">추가</button>
  </div>
  <ul class="todo__list"></ul>
</div>

<% include ./inc/footer.ejs %>
